{%  extends "layout_main.html"%}
{{ super() }}
{% block Title %}Home {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-sm-6">
        <div class="card m-3 text-white">
          <div class="card-header bg-info text-white">
            <h5>Basic Information</h5>
          </div>
          <div class="card-body">
{#            <h5 class="card-title"></h5>#}
            <form action={{ url_for('home') }} method="post" class="">
                {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col">
                            <label for="Comp">Company Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                             {{ form.CompanyName (class="form-control") }}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <label for="Year">Year</label>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col">
                             {{ form.Year (class="form-control yearformat", placeholder="YYYY", autocomplete="no") }}
                         </div>
                    </div>

                     <div class="row mt-2">
                        <div class="col">
                            <label for="AnalysisName">Analysis Name</label>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col">
                            {{ form.AnalysisName (class="form-control") }}
                         </div>
                     </div>

                    <div class="row mt-2">
                        <div class="col">
                            <label for="LargeCat">Large CAT</label>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col">
                            {{ form.LargeCat (class="form-control") }}
                         </div>
                     </div>

                     <div class="row mt-2">
                        <div class="col">
                            <label for="SmallCat">Small CAT</label>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col">
                            {{ form.SmallCat (class="form-control") }}
                         </div>
                     </div>

                    <div class="row mt-2">
                        <div class="col">
                            <label for="NonCat">Non CAT</label>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col">
                            {{ form.NonCat (class="form-control") }}
                         </div>
                     </div>

                     <div class="row mt-2">
                        <div class="col">
                            <label for="CatThreshold">CAT Threshold</label>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col">
                            {{ form.CatThreshold (class="form-control cat-treshold") }}
                         </div>
                     </div>

                    <div class="row mt-2">
                        <div class="col">
                            <label for="NumOfSims">Number of Simulations</label>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col">
                            {{ form.NumOfSims (class="form-control num-of-sims") }}
                         </div>
                     </div>
                <hr class="border border-secondary">
                <div class="row">
                   <div class="offset-3 col-md-6 text-center">
                        <input type="submit" class=" btn btn-primary btn-block btn-lg" value="Next">
                   </div>
                </div>
              </form>
          </div>
        </div>
            </div>
        </div>

    </div>



  <script type="text/javascript">
      $(document).ready(function () {
            new AutoNumeric('.cat-treshold', 'integer');
            new AutoNumeric('.num-of-sims', 'integer');

        });

  </script>

{% endblock %}