{%  extends "layout.html"%}
{{ super() }}
{% block content %}
      <form action={{ url_for('login') }} method="post" class="login-form">
        {{ form.hidden_tag() }}
          <h1 class="text-primary">Login</h1>

        <div class="txtb" data-validate="Valid Email is required: ex@abc.xyz">
{#          <input type="text">#}
            {{ form.username(class="form-control", type="text")}}
          <span data-placeholder="email"></span>
            <div class="row">
                <div class="col text-center">
                     {% for error in form.username.errors %}
                        <span style="...">[{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="txtb" data-validate="Password is required">
{#          <input type="password">#}
            {{ form.password(class="form-control", type="password")}}
          <span data-placeholder="Password"></span>
            <div class="row">
                <div class="col text-center">
                     {% for error in form.password.errors %}
                        <span style="...">[{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <input type="submit" class="logbtn" value="Login">
        <div class="row text-center mt-5">
            <div class="col">
                <a href=" {{ url_for("register")}}">Register Here</a>
            </div>
        </div>
{#        {{ form.Submit(class="logbtn" )}}#}

{#        <div class="bottom-text">#}
{#          Don't have an account? <a href="#">Sign up</a>#}
{#        </div>#}

      </form>



      <script type="text/javascript">


      $(document).ready(function () {
        $(".txtb input").on("focus",function(){
            $(this).addClass("focus");
          });

        $(".txtb input").on("blur",function(){
            if($(this).val() == "")
            $(this).removeClass("focus");
        });

        {%  with messages = get_flashed_messages() %}
            {%  if messages %}
                    {%  for message in messages %}
                      $.notify("{{ message }}!", "info");
                    {% endfor %}
            {%  endif %}
        {% endwith %}

      });
      </script>
{% endblock %}