{%  extends "layout.html"%}
{{ super() }}
{% block content %}
      <form action={{ url_for('register') }} method="post" class="login-form">
        {{ form.hidden_tag() }}
          <h3 class="text-primary">Register</h3>

        <div class="txtb" data-validate="Valid Email is required: ex@abc.xyz">
{#          <input type="text">#}
            {{ form.email(class="form-control", type="email")}}
          <span data-placeholder="Email"></span>
            <div class="row">
                <div class="col text-center">
                     {% for error in form.email.errors %}
                        <span style="...">[{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="txtb" data-validate="Password is required">
{#          <input type="password">#}
            {{ form.password(class="form-control", type="password")}}
          <span data-placeholder="Password"></span>
            <div class="row">
                <div class="col text-center">
                     {% for error in form.password.errors %}
                        <span style="...">[{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

      <div class="txtb" data-validate="First Name is required">
{#          <input type="password">#}
            {{ form.FirstName(class="form-control", type="text")}}
          <span data-placeholder="First Name"></span>
            <div class="row">
                <div class="col text-center">
                     {% for error in form.FirstName.errors %}
                        <span style="...">[{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

      <div class="txtb" data-validate="Last Name is required">
{#          <input type="password">#}
            {{ form.LastName(class="form-control", type="text")}}
          <span data-placeholder="Last Name"></span>
            <div class="row">
                <div class="col text-center">
                     {% for error in form.LastName.errors %}
                        <span style="...">[{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

      <div class="txtb" data-validate="Select a Role">
{#          <input type="password">#}
            {{ form.Role(class="form-control")}}
          <span data-placeholder="Role"></span>
            <div class="row">
                <div class="col text-center">
                     {% for error in form.Role.errors %}
                        <span style="...">[{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

       <div class="row">
           <div class="col text-right">
               <a class="btn btn-secondary btn-lg" href="{{ url_for("login") }}">Back</a>
           </div>
           <div class="col text-left">
                <input type="submit" class="btn btn-primary btn-lg" value="Register">
           </div>
       </div>
      </form>

      <script type="text/javascript">
      $(document).ready(function () {
          $(".txtb input").on("focus",function(){
                $(this).addClass("focus");
              });

          $(".txtb input").on("blur",function(){
            if($(this).val() == "")
            $(this).removeClass("focus");
          });

          {%  with messages = get_flashed_messages() %}
            {%  if messages %}
                    {%  for message in messages %}
                      $.notify("{{ message }}!", "error");
                    {% endfor %}
            {%  endif %}
        {% endwith %}

        });
      </script>
{% endblock %}